<div id="mainChat">
    <div class="boxTitle">
        <h1>Chat</h1>
    </div>
    
    <div class="bodyPage" id="boxProducts"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat/index.js"></script>