<div class="boxTitle">
    <h1>Cambio de Contraseña</h1>
</div>

<div class="containerRegister">
    <div class="login-box">
        <h2>Cambio de contraseña</h2>
        <form id="login-form" action="/session/login" method="post">
            <div class="input-container">
                <label for="password">Ingresa tu nueva contraseña:</label>
                <input class="inputRegister" type="password" id="newPassword" name="password">
            </div>
            <div class="input-container">Repite tu nueva contraseña:Contraseña:</label>
                <input class="inputRegister" type="password" id="repetedPassword" name="repeatPassword">
            </div>
            <button class="btnChat" type="submit" id="submitNewPasswordr">Enviar</button>
        </form>
    </div>
</div>

{{!-- <script src="/js/login/index.js"></script> --}}